/*
 * The contents of this file are subject to the license and copyright
 * detailed in the LICENSE and NOTICE files at the root of the source
 * tree and available online at
 *
 *     http://duracloud.org/license/
 * 
 *  @author Daniel Bernstein
 */

/*for fixed top nav*/
body { padding-top: 70px !important;
}


.list-group-item:first-of-type 
{
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.list-group-item:last-of-type 
{
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.list-group-item .btn {
	padding:0;
}

#loading h1 {
	margin: 0 auto
}

#image {
	height: 300px;
	width: 100%;
	padding: 50px;
}

	
}
#image img {
   border:none;
   margin: 0 auto;
}

/*button spinner*/
.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;

  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .spinner {
  opacity: 1;
  width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spinner.btn-mini.active .spinner {
    width: 10px;
}

.has-spinner.btn-small.active .spinner {
    width: 13px;
}

.has-spinner.btn.active .spinner {
    width: 16px;
}

.has-spinner.btn-large.active .spinner {
    width: 19px;
}
